<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>401736060907-su3igoqkis2k57b8s5po4kbm6kliivqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401736060907-su3igoqkis2k57b8s5po4kbm6kliivqt</string>
	<key>API_KEY</key>
	<string>AIzaSyDppuzD8ZaBhgvXFYpJSmw-5OT8pMAeYy4</string>
	<key>GCM_SENDER_ID</key>
	<string>401736060907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ajid.com.FbPhotosAlbumDownload</string>
	<key>PROJECT_ID</key>
	<string>fbphotosalbumdownload</string>
	<key>STORAGE_BUCKET</key>
	<string>fbphotosalbumdownload.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:401736060907:ios:9121cb12691e84c1</string>
	<key>DATABASE_URL</key>
	<string>https://fbphotosalbumdownload.firebaseio.com</string>
</dict>
</plist>